# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Django database
db.sqlite3

# Environment variables and secrets
.env

# Virtual environment
.venv/
env/
venv/

# IDE/editor config
.idea/
.vscode/

# Django migration logs or compiled files
*.log
*.pot

# Static files (optional if you're building locally)
staticfiles/
static/

# Media files (user uploads)
media/

# PyCharm project files
*.iml

# Test coverage
htmlcov/
coverage.xml
*.cover
.pytest_cache/
