{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if listingItem %}
<div style="max-width: 700px; margin: 2em auto; padding: 2em; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); background-color: #fff;">

    <h1 style="font-size: 2em; margin-bottom: 0.2em;">{{ listingItem.title }}</h1>
    <h3 style="color: #666; font-weight: normal;">{{ listingItem.category }}</h3>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.street }} {{ listingItem.city }}, {{ listingItem.state }} {{ listingItem.zip }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.description }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.property_price }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.bedrooms }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.bathrooms }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.sq_footage }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.status }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.neighborhood }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.price_search }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.property_type }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.price_search }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.created_date }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.updated_date }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.is_visible }}
    </p>
    <p style="font-size: 0.9em; color: #999; margin-bottom: 1.5em;">
        {{ listingItem.is_featured }}
    </p>



    <img src="{{ listingItem.photo.url }}"
         alt="listingItem Image"
         style="max-width: 100%; max-height: 400px; object-fit: contain; border-radius: 8px; margin-bottom: 1.5em;">

    <p style="line-height: 1.6; font-size: 1.1em;">
        {{ listingItem.listing_description|linebreaksbr }}
    </p>
</div>
{% else %}
    <p>No listings are available.</p>
{% endif %}
{% endblock %}