{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}CK Real Estate{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<script>
  function toggleMenu(button) {
    const menu = document.getElementById('side-menu');
    menu.classList.toggle('open');

    if (button) {
      button.classList.toggle('active');
    }
  }
</script>
<body>

  <header>
    <div class="header-top">
     <div class="logo">
  <img src="{% static 'images/ckrealestate_logo.png' %}" alt="CK Real Estate Logo">
</div>
      <div class="nav-buttons">
        <button class="contact">Contact</button>
        <div class="menu-toggle" onclick="toggleMenu(this)">
            <span></span>
            <span></span>
            <span></span>
        </div>
      </div>
    </div>
    {% block hero %}{% endblock %}
  </header>

  <nav id="side-menu" class="side-menu">
    <button onclick="toggleMenu()">X Menu</button>
    <ul>
      <li><a href="#about">About Us</a></li>
      <li><a href="#listings">Listings</a></li>
      <li><a href="#omaha">Omaha Happenings</a></li>
    </ul>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2025 CK Real Estate. All rights reserved.</p>
  </footer>

  <script>
    function toggleMenu() {
      document.getElementById('side-menu').classList.toggle('open');
    }
  </script>

</body>
</html>
